body {
  background: linear-gradient(
    135deg,
    #fad1d1,
    #fa2f2f
  ); /* Pink gradient background */
  background-size: cover; /* Ensure the gradient covers the entire body */
  background-repeat: no-repeat; /* Prevent the gradient from repeating */
  margin: 0; /* Remove default margin */
  min-height: 100vh; /* Ensure the body covers the full height of the viewport */
  font-family: "Poppins", sans-serif; /* Use Poppins font for the entire body */
}

.appointment-form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  body {
    background: linear-gradient(
      135deg,
      #fad1d1,
      #fa2f2f
    ); /* Pink gradient background */
    background-size: cover; /* Ensure the gradient covers the entire body */
    background-repeat: no-repeat; /* Prevent the gradient from repeating */
    margin: 0; /* Remove default margin */
    min-height: 100vh; /* Ensure the body covers the full height of the viewport */
    font-family: "Poppins", sans-serif; /* Use Poppins font for the entire body */
  }
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8bfbf; /* Light pink background color */
  font-family: "Poppins", sans-serif; /* Use Poppins font */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  font-family: "Poppins", sans-serif; /* Use Poppins font */
}

button[type="submit"] {
  background-color: #ff007f; /* Light pink background color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif; /* Use Poppins font */
}

button[type="submit"]:hover {
  background-color: #ff0055; /* Darker pink color on hover */
}
