.submitted-forms-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  padding: 20px;
  background-color: #e5f9e5; /* Light green background color */
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
}

.form-controls input[type="text"],
.form-controls select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff; /* White background color for inputs */
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 70%;
  background-color: #9cf7b7; /* White background color for list items */
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
}

li button {
  padding: 6px 12px; /* Adjust padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745; /* Green background color for buttons */
  color: #fff;
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
}

li button:first-child {
  margin-right: 10px; /* Add margin between buttons */
}

li button:hover {
  background-color: #218838; /* Darker green color on hover */
}
